<!DOCTYPE html>
//- - var about = ['Отец, блогер, путешественник, спортсмен', 'Владелец 3 бизнесов (детский футбол, розница, онлайн)', 'Автор 6 книг и более 200 публикаций', 'Создал более 20 курсов и тренингов, которые прошли более 20 000 человек', 'Помог более 1 000 предпринимателей начать успешный бизнес', 'Владелец сети футбольных клубов для дошкольников', 'Успешно управляет более 130 людьми (и живет счастливо)', 'Создал мировую революцию в дестком футболе создав прибыльную модель футбольной школы для дошкольников от 3 до 7 лет', 'Выступал на одной сцене с Джорданом Белфордом (Волк с Уолл-Стрит)']
include components/content
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title test
	body
		header
			.container
				img(src=require('./assets/img/companyLogo.png'), alt="GOLD COACH")
				p GoldCoach представляет…
				p БЕСПЛАТНЫЙ ВЕБИНАР
				p 10 ШАГОВ К СОЗДАНИЮ «САМОРАЗВИВАЮЩЕЙСЯ КОМПАНИИ» (ВКЛЮЧАЯ СВОБОДУ, КАК УПРАВЛЯТЬ 3 КОМПАНИЯМИ И ПРОЙТИ IRONMAN)
				p.cta
					a Забронировать место! >>
		main
			.container
				.block1
					.shedule
					img(src=require('./assets/img/IvanZymbytsky.png'), alt="IvanZymbytsky")
					+list(about)
				.block2
					+list(advantages)
		section.conditions
			.container
				p Формат участия: живое присутствие в онлайн (повтора и записи не будет) всего 500 мест
				p.cta2 Для кого вебинар?
				p Для существующих предпринимателей с чистым доходом от 150 000 рублей в месяц
		section.imagine
			.container
				h3 Наконец-то, раскрыта технология как предпринимателю управлять прибыльным бизнесом (и даже не одним), при этом оставаясь свободным, здоровым и довольным жизнью, без стресса и необходимости жить на работе!
				+list(imagine)
		section.collage
			.container
				img(src=require('./assets/img/Screenshot_13.png'), alt="")
		footer
			.container
				p И я знаю, что это возможно и для вас…
				p Приходите на мой вебинар и раскрою вам свою технология в деталях. 
				p.cta Да! Забронировать место сейчас! >>
				socials
					a(href="https://vk.com/", title="Vk").vk 
					a(href="https://www.facebook.com/", title="facebook").fb 
					a(href="https://twitter.com/", title="twitter").tw