<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title test
	body
		p.container Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores aliquid quas non, a pariatur totam suscipit sequi. Quis consequatur delectus voluptatibus fuga sapiente architecto ipsam, cum reiciendis quasi. Cumque, odit?
