@font-face {
	font-family: $mainFont;
	src: url('./assets/fonts/PTSans-Regular.woff2') format('woff2'),
				url('./assets/fonts/PTSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: $mainFont;
  src: url('./assets/fonts/PTSans-Bold.woff2') format('woff2'),
				url('./assets/fonts/PTSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: $secondFont;
	src: url('./assets/fonts/Circe-Bold.woff2') format('woff2'),
  			url('./assets/fonts/Circe-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: $thirdFont;
	src: url('./assets/fonts/Georgia-Italic.woff2') format('woff2'),
  			url('./assets/fonts/Georgia-Italic.woff') format('woff');
  font-weight: normal;
	font-style: italic;
}